{% extends 'blog/base.html' %}

{% block title %}<h1 class="text-center">Your Dashboard</h1>{% endblock %}

{% block content %}
{% if user_articles %}
    <ul class="text-center" style="list-style: none;">
        {% for article in user_articles %}
            <li>
                <strong>{{ article.title }}</strong>
                <!--<p class="card-text">{{ article.content }}</p>--->
                <p class="card-text">Published on: {{ article.pub_date }}</p>
                <a class="btn btn-primary" href="{% url 'edit' article.id %}" style="display: inline-block; border: 2px solid; border-radius: 3px; text-decoration: none; margin-right: 20px;">EDIT</a>
                <a class="btn btn-danger" href="{% url 'delete' article.id %}" style="display: inline-block; border: 2px solid; border-radius: 3px; text-decoration: none;">DELETE</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You haven't written any articles yet.</p>
{% endif %}
{% endblock content %}
