<h1>Your Dashboard</h1>

{% if user_articles %}
    <ul>
        {% for article in user_articles %}
            <li>
                <strong>{{ article.title }}</strong>
                <p>{{ article.content }}</p>
                <p>Published on: {{ article.pub_date }}</p>
                <a href="{% url 'edit' article.id %}" style="display: inline-block; border: 2px solid; border-radius: 3px; background-color: aquamarine;">EDIT</a>
                <a href="{% url 'delete' article.id %}" style="display: inline-block; border: 2px solid; border-radius: 3px; background-color: red;">DELETE</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You haven't written any articles yet.</p>
{% endif %}
