{% extends 'blog/base.html' %}

{% load custom_filters %}

<!--{% block title %}<h1>LaVie</h1>{% endblock %}--->
{% block content %}


<div class="text-center" style="max-height: 400px; overflow-y: auto;">
    <ul style="list-style-type: none; padding: 10px 0;">
        {% for article in articles %}
        <li style="margin-bottom: 15px;">
            <a href="{% url 'detail' article.slug %}" style="text-decoration: none; color: black;">
                <span><h3>{{ article.title }}</h3></span>
                <span>{{ article.content|extract_image|safe }}</span>
                <span><p>Author: {{ article.created_by.username }}</p></span>
            
            {% if article.was_published_recently %}
                    <span style="color: green;">(Published recently!)</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>  
</div>
{% endblock content %}



